<div id="<%= dom_id cliente %>" class='showing'>

  <p class='show-item'>
    <strong>Nome:</strong>
    <%= cliente.nome %>
  </p>

  <p class='show-item'>
    <strong>Cpf:</strong>
    <%= cliente.cpf %>
  </p>

  <p class='show-item'>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

  <p class='show-item'>
    <strong>Telefone:</strong>
    <%= cliente.telefone %>
  </p>

</div>
