<%= form_with(model: cliente) do |form| %>
  <div class='errors'>
    <% if cliente.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved (hover to see)</h2>

        <ul>
          <% cliente.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class='form-div'>
    <div class='labels'>
      <%= form.label :cpf, style: "display: block" %>
      <%= form.text_field :cpf %>
    </div>

    <div class='labels'>
      <%= form.label :nome, style: "display: block" %>
      <%= form.text_field :nome %>
    </div>

    <div class='labels'>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
    </div>

    <div class='labels'>
      <%= form.label :telefone, style: "display: block" %>
      <%= form.text_field :telefone %>
    </div>

    <div class='submit'>
      <%= form.submit %>
    </div>
  </div>

<% end %>
