<h1>Histórico de reservas do Cliente <%= @cliente.nome %></h1>

<br>

<% if @reservas.any? %>
  <ul>
    <% @reservas.each do |reserva| %>
      <li>
        [ <%= reserva.data_de_entrada.strftime("%d/%m/%Y") %> a <%= reserva.data_de_saida.strftime("%d/%m/%Y") %> ]
        <%= link_to "Exibir Reserva", reserva %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma reserva encontrada para este cliente.</p>
<% end %>

<%= link_to "Agendar Reserva", new_reserva_path(cliente_id: @cliente) %>

<br>
<%= link_to "Voltar aos Clientes", clientes_path %>
