<p style="color: green"><%= notice %></p>

<div id='busca-cliente'>
  <%= form_with(url: clientes_path, method: 'get') do |form| %>
    <h3>Procurar clientes</h3>
    Filtrar por
    <%= select_tag(:atributo, options_for_select([['Nome', 'nome'], ['CPF', 'cpf'], ['Email', 'email']])) %>
    <%= text_field_tag(:busca) %>
    <%= form.submit("Procurar") %>
  <% end %>
  <%= link_to "Redefinir Filtragem", clientes_path %>
</div>

<div class='list'>
  <% if @clientes.present? %>
    <tr class='tr-show'>
      <% @clientes.each do |cliente| %>
        <p class='show-grid'>
          [ Cliente <%= cliente.id %> ] <br>
          Nome:  <%= cliente.nome %>  <br>
          CPF:  <%= cliente.cpf %>  <br>
          Email:  <%= cliente.email %>  <br>
          <%= link_to "Exibir cliente", cliente %> <br>
          <%= link_to "Marcar Reserva", new_reserva_path(cliente_id: cliente) %>
        </p>
      <% end %>
    </tr>
  <% else %>
    <p>Nenhum cliente encontrado.</p>
  <% end %>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selecionarAtributo = document.getElementById('atributo');
        const campoDeBusca = document.getElementById('busca-fields');
        selecionarAtributo.addEventListener('change', function () {
            const opcaoSelecionada = this.value;
            if (opcaoSelecionada === 'nome' || opcaoSelecionada === 'cpf' || opcaoSelecionada === 'email') {
                campoDeBusca.innerHTML = `<label for="busca">Busca por ${opcaoSelecionada}:</label>
                                  <input type="text" name="busca" id="busca-field" placeholder="Digite a busca...">`;
            } else {
                campoDeBusca.innerHTML = '';
            }
        });
    });
</script>
