<p style="color: green"><%= notice %></p>

<h1 id='up-h1'>Clientes</h1>

<div class='list'>
  <tr class='tr-show'>
    <% @clientes.each do |cliente| %>
      <p class='show-grid'> [ <%= cliente.nome %> ] <br> <%= link_to "Exibir cliente", cliente, id:"d-#{cliente.nome}" %></p>
    <% end %>
  </tr>
</div>

<div class='links'>
  <%= link_to "Cadastrar cliente", new_cliente_path %>
  <%= link_to "Home", root_path %>
</div>
