<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>

<tr>
  <% @clientes.each do |cliente| %>
    <p> [ <%= cliente.nome %> ] - <%= link_to "Exibir cliente", cliente, id:"d-#{cliente.nome}" %></p>
  <% end %>
</tr>
<br>
<%= link_to "Cadastrar cliente", new_cliente_path %> <br>
<%= link_to "Home", root_path %>
