<p style="color: green"><%= notice %></p>

<div id='search-client'>
  <%= form_with(url: clientes_path, method: 'get', local: true) do %>
  <h3>Procurar cliente</h3>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Procurar") %>
  <% end %>
</div>

<div class='list'>
  <tr class='tr-show'>
    <% @clientes.each do |cliente| %>
      <p class='show-grid'> [ <%= cliente.nome %> ] <br> <%= link_to "Exibir cliente", cliente, id:"d-#{cliente.nome}" %> <br>
      <%= link_to "Visualizar reservas", historico_cliente_path(cliente) %></p>
    <% end %>
  </tr>
</div>
