<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<div>
  <%= link_to "Editar cliente", edit_cliente_path(@cliente) %> |
  <%= link_to "Clientes", clientes_path %>
  <%= button_to "Remover cliente", @cliente, method: :delete %>
</div>

</br>
<%= link_to "Home", root_path %>
