<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<div class='link-show'>
  <%= link_to "Editar cliente", edit_cliente_path(@cliente) %>
  <%= link_to "Retornar aos clientes", clientes_path %>
  <%= button_to "Remover cliente", @cliente, method: :delete %>
</div>

<div id='links'>
  <%= link_to "Home", root_path %>
</div>
