<p style="color: green"><%= notice %></p>

<br>

<%= render @cliente %>

<br>

<h1>Histórico de reservas de <%= @cliente.nome %></h1>

<br>

<% if @reservas.any? %>
  <ul>
    <% @reservas.each do |reserva| %>
      <li>
        [ <%= reserva.data_de_entrada.strftime("%d/%m/%Y das %H:%M") %> à <%= reserva.data_de_saida.strftime("%d/%m/%Y às %H:%M") %> ]
        [ Quarto: <%= reserva.quarto.numero %> | <%= reserva.quarto.tipo %> | Custo da estadia: R$<%= reserva.custo %> ]
        <%= link_to "Exibir Detalhes", reserva %> |
        <%= link_to "Editar Reserva", edit_reserva_path(reserva) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma reserva encontrada para este cliente.</p>
<% end %>

<br>

<div>
  <%= link_to "Editar cliente", edit_cliente_path(@cliente) %> <br>
  <%= link_to "Marcar Reserva", new_reserva_path(cliente_id: @cliente) %> <br>
  <%= button_to "Remover cliente", @cliente, method: :delete %>
</div>
