<%= form_with(model: reserva) do |form| %>
  <div class='errors'>
    <% if reserva.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(reserva.errors.count, "erro") %> impedem esta reserva de ser criada (passe o mouse por cima
          para ver mais detalhes)</h2>

        <ul>
          <% reserva.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div>
    <div>
      <%= form.label :cliente_id, 'Cliente', style: "display: block" %>
      <%= form.collection_select(:cliente_id, Cliente.all, :id, :nome, { prompt: 'Selecione o cliente' }, { required: true, include_blank: false, selected: @reserva.cliente_id }) %>
      <%= link_to "Listar clientes", "#", id: "select-client-button" %>
    </div>

    <div>
      <%= form.label :quarto_id, 'Quarto', style: "display: block" %>
      <%= form.collection_select(:quarto_id, Quarto.where(disponibilidade: true), :id, :numero, { prompt: 'Selecione o quarto' }, { required: true, class: 'quarto-select', include_blank: false, selected: @reserva.quarto_id }) %>
      <%= link_to "Listar Quartos", "#", id: "select-room-button" %>
    </div>

    <div>
      <%= form.label :data_de_entrada, 'Data de Entrada', style: "display: block", for: 'data-de-entrada' %>
      <%= form.datetime_field :data_de_entrada, id: 'data-de-entrada' %>
    </div>

    <div>
      <%= form.label :data_de_saida, 'Data de Saída', style: "display: block", for: 'data-de-saida' %>
      <%= form.datetime_field :data_de_saida, id: 'data-de-saida' %>
    </div>

    <div>
      <%= form.label :custo, 'Custo (R$)', style: "display: block", for: 'custo-field' %>
      <%= form.text_field :custo, id: 'custo-field' %>
    </div>

    <div>
      <% if reserva.persisted? %>
        <%= form.submit "Atualizar Reserva" %>
      <% else %>
        <%= form.submit "Agendar Reserva" %>
      <% end %>
    </div>
  </div>

<% end %>

<script>
    document.addEventListener('change', function () {
        var quartoSelect = document.querySelector('.quarto-select');
        var custoField = document.querySelector('#custo-field');
        var dataEntradaField = document.querySelector('#data-de-entrada');
        var dataSaidaField = document.querySelector('#data-de-saida');
        var quartoId = quartoSelect.value;
        var dataEntrada = new Date(dataEntradaField.value);
        var dataSaida = new Date(dataSaidaField.value);
        var diferencaEmMinutos = Math.floor((dataSaida - dataEntrada) / 60000);

        if (quartoSelect.value != '' && quartoId !== '' && dataEntrada.value !== '' && dataSaida.value !== '') {
            fetch('/reservas/get_custo?quarto_id=' + quartoId)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    var custoTotal = (data.custo / 1440) * diferencaEmMinutos;
                    custoField.value = custoTotal.toFixed(2);
                });
        } else {
            custoField.value = '0.00';
        }
        ;
    });
</script>