<div id="<%= dom_id reserva %>" class='showing'>
  <p class='show-item'>
    <strong>Nome do Cliente:</strong>
    <%= Cliente.find(reserva.cliente_id).nome %>
  </p>

  <p class='show-item'>
    <strong>Número do Quarto:</strong>
    <%= Quarto.find(reserva.quarto_id).numero%>
  </p>

  <p class='show-item'>
    <strong>Data de Entrada:</strong>
    <%= reserva.data_de_entrada.to_time.strftime("%d/%m/%Y às %H:%M") %>
  </p>

  <p class='show-item'>
    <strong>Data de Saída:</strong>
    <%= reserva.data_de_saida.to_time.strftime("%d/%m/%Y às %H:%M") %>
  </p>

  <p class='show-item'>
    <strong>Custo:</strong>
    <%= reserva.custo %>
  </p>
</div>


