<div id="<%= dom_id reserva %>">
  <p>
    <strong>Cliente:</strong>
    <%= Cliente.find(reserva.cliente_id).nome %>
  </p>

  <p>
    <strong>Quarto:</strong>
    <%= Quarto.find(reserva.quarto_id).numero%>
  </p>

  <p>
    <strong>Data de entrada:</strong>
    <%= reserva.data_de_entrada.to_time.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <p>
    <strong>Data de saída:</strong>
    <%= reserva.data_de_saida.to_time.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <p>
    <strong>Custo:</strong>
    <%= reserva.custo %>
  </p>
</div>


