<div id="<%= dom_id reserva %>">
  <p>
    <strong>Nome do Cliente:</strong>
    <%= Cliente.find(reserva.cliente_id).nome %>
  </p>

  <p>
    <strong>Número do Quarto:</strong>
    <%= Quarto.find(reserva.quarto_id).numero %>
  </p>

  <p>
    <strong>Preço do Quarto (R$):</strong>
    <%= Quarto.find(reserva.quarto_id).preco_diaria %>
  </p>

  <p>
    <strong>Data de Entrada:</strong>
    <%= reserva.data_de_entrada.to_time.strftime("%d/%m/%Y às %H:%M") %>
  </p>

  <p>
    <strong>Data de Saída:</strong>
    <%= reserva.data_de_saida.to_time.strftime("%d/%m/%Y às %H:%M") %>
  </p>

  <p>
    <strong>Custo (R$):</strong>
    <%= reserva.custo %>
  </p>
</div>


