<div id="<%= dom_id reserva %>">
  <p>
    <strong>Cliente:</strong>
    <%= reserva.cliente_id %>
  </p>

  <p>
    <strong>Quarto:</strong>
    <%= reserva.quarto_id %>
  </p>

  <p>
    <strong>Data de entrada:</strong>
    <%= reserva.data_de_entrada %>
  </p>

  <p>
    <strong>Data de saida:</strong>
    <%= reserva.data_de_saida %>
  </p>

  <p>
    <strong>Custo:</strong>
    <%= reserva.custo %>
  </p>

</div>
