<p style="color: green"><%= notice %></p>

<h1>Reservas</h1>

<br>

<tr>
  <% @reservas.each do |reserva| %>
    <p>
      [ <%= reserva.data_de_entrada.strftime("%d/%m/%Y %H:%M") %> - <%= reserva.data_de_saida.strftime("%d/%m/%Y %H:%M") %> ] -
      <%= link_to "Exibir Reserva", reserva, id:"d-#{reserva.data_de_entrada}" %>
    </p>
  <% end %>
</tr>


<%= link_to "Agendar reserva", new_reserva_path %>

<br>
<%= link_to "Home", root_path %>
