<p style="color: green"><%= notice %></p>

<div>
  <%= form_tag reservas_path, method: :get do %>
    <h3>Procurar reservas</h3>
    Filtrar por:
    <%= select_tag(:atributo, options_for_select([
                                                   ['Data', 'data'],
                                                   ['Custo', 'custo'],
                                                   ['Cliente', 'cliente']
                                                 ])) %>

    <span class="data-fields">
      Data de início: <%= datetime_local_field_tag "start_date", params[:start_date] %>
      e Data de término: <%= datetime_local_field_tag "end_date", params[:end_date] %>
    </span>

    <span class="custo-fields" style="display: none;">
      Custo mínimo: <%= number_field_tag "min_custo", params[:min_cost], step: 0.01, min: 0 %>
      Custo máximo: <%= number_field_tag "max_custo", params[:max_cost], step: 0.01, min: 0 %>
    </span>

    <span class="cliente-fields" style="display: none;">
      Filtrar por Cliente:
      <%= select_tag(:cliente_id, options_for_select(
        Cliente.all.map { |cliente| [cliente.nome, cliente.id] }
      ), include_blank: false) %>
    </span>

    <%= submit_tag "Filtrar" %>
  <% end %>
  <%= link_to "Redefinir Filtragem", reservas_path %>
</div>

<div class='list'>
  <% if @reservas.present? %>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Data de Entrada</th>
        <th>Data de Saída</th>
        <th>Cliente</th>
        <th>Quarto</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <% @reservas.each do |reserva| %>
        <tr>
          <td><%= reserva.id %></td>
          <td><%= reserva.data_de_entrada.strftime("%d/%m/%Y às %H:%M") %></td>
          <td><%= reserva.data_de_saida.strftime("%d/%m/%Y às %H:%M") %></td>
          <td><%= reserva.cliente.nome %></td>
          <td><%= reserva.quarto.numero.to_s %></td>
          <td>
            <%= link_to "Exibir", reserva %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Nenhuma reserva encontrada.</p>
  <% end %>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selecionarAtributo = document.querySelector('#attribute');
        const camposData = document.querySelector('.data-fields');
        const camposCusto = document.querySelector('.custo-fields');
        const camposCliente = document.querySelector('.cliente-fields');

        function mostrarCamposDeFiltro(seletor) {
            camposData.style.display = 'none';
            camposCusto.style.display = 'none';
            camposCliente.style.display = 'none';
            seletor.style.display = 'inline';
        }

        selecionarAtributo.addEventListener('change', function () {
            if (selecionarAtributo.value === 'data') {
                mostrarCamposDeFiltro(camposData);
            } else if (selecionarAtributo.value === 'custo') {
                mostrarCamposDeFiltro(camposCusto);
            } else if (selecionarAtributo.value === 'cliente') {
                mostrarCamposDeFiltro(camposCliente);
            }
        });

        if (selecionarAtributo.value === 'data') {
            mostrarCamposDeFiltro(camposData);
        } else if (selecionarAtributo.value === 'custo') {
            mostrarCamposDeFiltro(camposCusto);
        } else if (selecionarAtributo.value === 'cliente') {
            mostrarCamposDeFiltro(camposCliente);
        }

    });
</script>
