<p style="color: green"><%= notice %></p>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var attributeSelect = document.querySelector('#attribute');
        var dateFields = document.querySelector('.date-fields');
        var costFields = document.querySelector('.cost-fields');
        var clientFields = document.querySelector('.client-fields');

        attributeSelect.addEventListener('change', function() {
            if (attributeSelect.value === 'date') {
                dateFields.style.display = 'block';
                costFields.style.display = 'none';
                clientFields.style.display = 'none';
            } else if (attributeSelect.value === 'cost') {
                costFields.style.display = 'block';
                dateFields.style.display = 'none';
                clientFields.style.display = 'none';
            } else if (attributeSelect.value === 'client') {
                clientFields.style.display = 'block';
                dateFields.style.display = 'none';
                costFields.style.display = 'none';
            }
        });

        if (attributeSelect.value === 'date') {
            dateFields.style.display = 'block';
            costFields.style.display = 'none';
            clientFields.style.display = 'none';
        } else if (attributeSelect.value === 'cost') {
            costFields.style.display = 'block';
            dateFields.style.display = 'none';
            clientFields.style.display = 'none';
        } else if (attributeSelect.value === 'client') {
            clientFields.style.display = 'block';
            dateFields.style.display = 'none';
            costFields.style.display = 'none';
        }

    });
</script>

<div>
  <%= form_tag reservas_path, method: :get do %>

    Filtragem por
    <label for="attribute">Buscar por:</label>
    <%= select_tag "attribute", options_for_select([["Data", "date"], ["Custo", "cost"], ["Cliente", "client"]], params[:attribute]), id: "attribute" %>

    <div class="date-fields">
      <label for="start_date">data de início:</label>
      <%= datetime_local_field_tag "start_date", params[:start_date] %>
      e
      <label for="end_date">data de término:</label>
      <%= datetime_local_field_tag "end_date", params[:end_date] %>
    </div>

    <div class="cost-fields" style="display: none;">
      <label for="min_cost">Custo mínimo:</label>
      <%= number_field_tag "min_cost", params[:min_cost], step: 0.01, min: 0 %>

      <label for="max_cost">Custo máximo:</label>
      <%= number_field_tag "max_cost", params[:max_cost], step: 0.01, min: 0 %>
    </div>

    <div class="client-fields" style="display: none;">
      <label for="cliente_id">Filtrar por Cliente:</label>
      <%= select_tag(:cliente_id, options_for_select(Cliente.all.map { |cliente| [cliente.nome, cliente.id] }), include_blank: true) %>
    </div>

    <%= submit_tag "Filtrar" %>
  <% end %>
  <%= link_to "Redefinir Filtragem", reservas_path %>
</div>

<div class='list'>
  <tr class='tr-show'>
    <% @reservas.each do |reserva| %>
      <p class='show-grid'>
        [ <%= reserva.data_de_entrada.strftime("%d/%m/%Y às %H:%M") %> - <%= reserva.data_de_saida.strftime("%d/%m/%Y às %H:%M") %> ] <br>
        <%= link_to "Exibir Reserva", reserva, id:"d-#{reserva.data_de_entrada}" %>
      </p>
    <% end %>
  </tr>
</div>
