<p style="color: green"><%= notice %></p>

<h1 id='up-h1'>Reservas</h1>

<div class='list'>
  <tr class='tr-show'>
    <% @reservas.each do |reserva| %>
      <p class='show-grid'>
        [ <%= reserva.data_de_entrada.strftime("%d/%m/%Y %H:%M") %> - <%= reserva.data_de_saida.strftime("%d/%m/%Y %H:%M") %> ] <br>
        <%= link_to "Exibir Reserva", reserva, id:"d-#{reserva.data_de_entrada}" %>
      </p>
    <% end %>
  </tr>
</div>

<div class='links'>
  <%= link_to "Agendar reserva", new_reserva_path %>
  <%= link_to "Home", root_path %>
</div>
