<p style="color: green"><%= notice %></p>

<%= render @reserva %>

<div class='link-show'>
  <%= link_to "Editar reserva", edit_reserva_path(@reserva) %>
  <%= link_to "Voltar para reservas", reservas_path %>
  <%= button_to "Remover reserva", @reserva, method: :delete %>
</div>

<div id='links'>
  <%= link_to "Home", root_path %>
</div>

