<p style="color: green"><%= notice %></p>

<%= render @reserva %>

<div>
  <%= link_to "Editar reserva", edit_reserva_path(@reserva) %> |
  <%= link_to "Reservas", reservas_path %>

  <%= button_to "Remover reserva", @reserva, method: :delete %>
</div>

<br>
<%= link_to "Home", root_path %>
