<%= form_with(model: quarto) do |form| %>
  <div class='errors'>
    <% if quarto.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(quarto.errors.count, "erro") %> impedem este quarto de ser criado (passe o mouse por cima para
          ver mais detalhes)</h2>

        <ul>
          <% quarto.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div>
    <div>
      <%= form.label :numero, style: "display: block" %>
      <%= form.number_field :numero %>
    </div>

    <div>
      <%= form.label :tipo, style: "display: block" %>
      <%= form.select :tipo, options_for_select(["Quarto Padrão", "Quarto Familiar", "Quarto de Luxo", "Suíte Master", "Suíte Presidencial"]) %>
    </div>

    <div>
      <%= form.label :disponibilidade, style: "display: block" %>
      <%= form.select :disponibilidade, options_for_select([["Disponível", true], ["Indisponível", false]]) %>
    </div>

    <div>
      <%= form.label :preco_diaria, style: "display: block" %>
      <%= form.text_field :preco_diaria %>
    </div>

    <div>
      <%= form.label :descricao, style: "display: block" %>
      <%= form.text_area :descricao %>
    </div>

    <div>
      <%= form.label :quantidade_de_hospedes, style: "display: block" %>
      <%= form.number_field :quantidade_de_hospedes %>
    </div>

    <div>
      <% if quarto.persisted? %>
        <%= form.submit "Atualizar Quarto" %>
      <% else %>
        <%= form.submit "Cadastrar Quarto" %>
      <% end %>
    </div>
  </div>
<% end %>
