<div id="<%= dom_id quarto %>">
  <p>
    <strong>Numero:</strong>
    <%= quarto.numero %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= quarto.tipo %>
  </p>

  <p>
    <strong>Disponibilidade:</strong>
    <%= quarto.disponibilidade %>
  </p>

  <p>
    <strong>Preco diaria:</strong>
    <%= quarto.preco_diaria %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= quarto.descricao %>
  </p>

</div>
