<div id="<%= dom_id quarto %>" class='showing'>
  <p class='show-item'>
    <strong>Numero:</strong>
    <%= quarto.numero %>
  </p>

  <p class='show-item'>
    <strong>Tipo:</strong>
    <%= quarto.tipo %>
  </p>

  <p class='show-item'>
    <strong>Disponibilidade para Locação:</strong>
    <%= quarto.disponibilidade ? "Disponível" : "Indisponível" %>
  </p>

  <p class='show-item'>
    <strong>Preco da Diária (R$):</strong>
    <%= quarto.preco_diaria %>
  </p>

  <p class='show-item'>
    <strong>Descrição Adicional:</strong>
    <%= quarto.descricao %>
  </p>

  <p class='show-item'>
    <strong>Quantidade de Hóspedes:</strong>
    <%= quarto.quantidade_de_hospedes %>
  </p>

</div>
