<h1>Histórico de Hospedagem no Quarto <%= @quarto.numero %></h1>

<br>

<h2>Hóspedes Passados:</h2>
<ul>
  <% @reservas_passadas.each do |reserva| %>
    <li><%= reserva.cliente.nome %> - <%= reserva.data_de_entrada.strftime("%d/%m/%Y") %> a <%= reserva.data_de_saida.strftime("%d/%m/%Y") %></li>
  <% end %>
</ul>

<br>

<h2>Hóspedes Futuros:</h2>
<ul>
  <% @reservas_futuras.each do |reserva| %>
    <li><%= reserva.cliente.nome %> - <%= reserva.data_de_entrada.strftime("%d/%m/%Y") %> a <%= reserva.data_de_saida.strftime("%d/%m/%Y") %></li>
  <% end %>
</ul>

<br>

<%= link_to "Retornar aos quartos", quartos_path %> <br>
<%= link_to "Home", root_path %>
