<p style="color: green"><%= notice %></p>

<h1>Quartos</h1>

<br>
<div id="quartos">
  <tr>
    <% @quartos.each do |quarto| %>
      <p> [ Quarto: <%= quarto.numero %>  -  Status: <%= quarto.disponibilidade ? "Disponível" : "Indisponível"%> ] <%= link_to "Exibir quarto", quarto, id:"d-#{quarto.numero}" %></p>
    <% end %>
  </tr>
</div>
<br><br>

<%= link_to "Cadastrar Quarto", new_quarto_path %>

<br>

<%= link_to "Home", root_path %>
