<p style="color: green"><%= notice %></p>

<h1 id='up-h1'>Quartos</h1>

<div class='index-btn'>
  <%= link_to 'Exibir quartos disponíveis', quartos_path(disponibilidade: true) %>
  <%= link_to 'Exibir quartos indisponíveis', quartos_path(disponibilidade: false) %>
</div>


<div id="quartos" class='list'>
  <tr class='tr-show'>
    <% @quartos.each do |quarto| %>
      <p class='show-grid'> [ Quarto: <%= quarto.numero %>  -  Status: <%= quarto.disponibilidade ? "Disponível" : "Indisponível"%> ] <br> <%= link_to "Exibir quarto", quarto, id:"d-#{quarto.numero}" %></p>
    <% end %>
  </tr>
</div>
<br><br>

<div class='links'>
  <%= link_to "Cadastrar Quarto", new_quarto_path %>
  <%= link_to "Home", root_path %>
</div>
