<p style="color: green"><%= notice %></p>

<div id='busca-atributos'>
  <%= form_with(url: quartos_path, method: 'get') do |form| %>
    <h3>Procurar quartos</h3>
    Filtrar por
    <%= select_tag(:atributo, options_for_select([['Número', 'numero'], ['Tipo', 'tipo'], ['Disponibilidade', 'disponibilidade'], ['Preço Diária', 'preco_diaria'], ['Quantidade de Hóspedes', 'quantidade_de_hospedes']]), id: 'atributo-select') %>
    <span id="busca-fields"></span>
    <%= form.submit("Procurar") %>
  <% end %>
  <%= link_to "Redefinir Filtragem", quartos_path %>
</div>

<div id="quartos" class='list'>
  <% if @quartos.present? %>
    <tr class='tr-show'>
      <% @quartos.each do |quarto| %>
        <p class='show-grid'> [ Quarto <%= quarto.numero %> -
          Status: <%= quarto.disponibilidade ? "Disponível" : "Indisponível" %> ] <br>
          Preço da Diária: R$<%= sprintf('%.2f', quarto.preco_diaria) %> <br>
          Tipo: <%= quarto.tipo %> <br>
          Suporta <%= quarto.quantidade_de_hospedes.to_i %> hóspede(s) <br>
          Descrição:
          <% if quarto.descricao == "" %>
            nenhuma descrição fornecida. <br>
          <% else %>
            <%= quarto.descricao %> <br>
          <% end %>
          <%= link_to "Exibir quarto", quarto %> <br>
          <%= link_to "Marcar Reserva", new_reserva_path(quarto_id: quarto) %>
        </p>
      <% end %>
  <% else %>
    Nenhum quarto encontrado.</p>
  <% end %>
  </tr>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const atributoSelect = document.getElementById('atributo-select');
        const campoDeBusca = document.getElementById('busca-fields');
        const opcaoSelecionada = `
      <label for="search">Busca por Disponibilidade:</label>
      <%= select_tag(:busca, options_for_select([['Disponível', true], ['Indisponível', false]])) %>
    `;

        const carregarCampoDeBusca = (opcaoSelecionada) => {
            campoDeBusca.innerHTML = '';
            switch (opcaoSelecionada) {
                case 'numero':
                    campoDeBusca.innerHTML = `<label for="busca">Busca por Número:</label>
                      <input type="text" name="busca" id="busca-field" placeholder="Digite o número do quarto...">`;
                    break;
                case 'tipo':
                    campoDeBusca.innerHTML = `<label for="search">Busca por Tipo:</label>
                                                  <%= select_tag(:busca, options_for_select([['Quarto Padrão'], ['Quarto Familiar'], ['Quarto de Luxo'], ['Suíte Master'], ['Suíte Presidencial']])) %>`;
                    break;
                case 'disponibilidade':
                    campoDeBusca.innerHTML = `<label for="search">Busca por Disponibilidade:</label>
                                                  <%= select_tag(:busca, options_for_select([['Disponível', true], ['Indisponível', false]])) %>`;
                    break;
                case 'preco_diaria':
                    campoDeBusca.innerHTML = `<label for="busca">Preço Diária:</label>
                                                  <input type="number" name="busca" id="busca-field" placeholder="Preço diária">`;
                    break;
                case 'quantidade_de_hospedes':
                    campoDeBusca.innerHTML = `<label for="busca">Busca por Quantidade de Hóspedes:</label>
                                                  <input type="number" name="busca" id="busca-field" placeholder="Digite a quantidade de hóspedes...">`;
                    break;
            }
        }

        atributoSelect.addEventListener('change', function () {
            const opcaoSelecionada = this.value;
            carregarCampoDeBusca(opcaoSelecionada);
        });

        const opcaoSelecionadaInicial = atributoSelect.value;
        carregarCampoDeBusca(opcaoSelecionadaInicial);
    });
</script>
