<p style="color: green"><%= notice %></p>

<div id='search-attributes'>
  <%= form_with(url: quartos_path, method: 'get') do |form| %>
    <h3>Procurar quartos</h3>
    Filtrar por <%= select_tag(:attribute, options_for_select([['Número', 'numero'], ['Tipo', 'tipo'], ['Disponibilidade', 'disponibilidade'], ['Preço Diária', 'preco_diaria'], ['Descrição', 'descricao'], ['Quantidade de Hóspedes', 'quantidade_de_hospedes']]), id: 'attribute-select') %>
    <span id="search-fields"></span>
    <%= form.submit("Procurar") %>
  <% end %>
  <%= link_to "Redefinir Filtragem", quartos_path %>
</div>

<div id="quartos" class='list'>
  <% if @quartos.present? %>
    <tr class='tr-show'>
      <% @quartos.each do |quarto| %>
        <p class='show-grid'> [ Quarto <%= quarto.numero %> -
          Status: <%= quarto.disponibilidade ? "Disponível" : "Indisponível" %> ] <br>
          <%= quarto.tipo %> | Quantidade de hospedes: <%= quarto.quantidade_de_hospedes %> <br>
          Preço da Diária: R$<%= quarto.preco_diaria %> <br>
          <%= link_to "Exibir quarto", quarto %> <br>
          <%= link_to "Marcar Reserva", new_reserva_path(quarto_id: quarto) %>
        </p>
      <% end %>
  <% else %>
    Nenhum quarto encontrado.</p>
  <% end %>
  </tr>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const attributeSelect = document.getElementById('attribute-select');
        const searchFields = document.getElementById('search-fields');
        const selectOptions = `
      <label for="search">Busca por Disponibilidade:</label>
      <%= select_tag(:search, options_for_select([['Disponível', true], ['Indisponível', false]])) %>
    `;

        const renderSearchFields = (selectedOption) => {
            searchFields.innerHTML = '';
            switch (selectedOption) {
                case 'numero':
                    searchFields.innerHTML = `<label for="search">Busca por Número:</label>
                      <input type="text" name="search" id="search-field" placeholder="Digite o número do quarto...">`;
                    break;
                case 'tipo':
                    searchFields.innerHTML = `<label for="search">Busca por Tipo:</label>
                                                  <%= select_tag(:search, options_for_select([['Quarto Padrão'], ['Quarto Familiar'], ['Quarto de Luxo'], ['Suíte Master'], ['Suíte Presidencial']])) %>`;
                    break;
                case 'disponibilidade':
                    searchFields.innerHTML = `<label for="search">Busca por Disponibilidade:</label>
                                                  <%= select_tag(:search, options_for_select([['Disponível', true], ['Indisponível', false]])) %>`;
                    break;
                case 'preco_diaria':
                    searchFields.innerHTML = `<label for="search">Preço Diária:</label>
                                                  <input type="number" name="search" id="search-field" placeholder="Preço diária">`;
                    break;
                case 'descricao':
                    searchFields.innerHTML = `<label for="search">Busca por Descrição:</label>
                                                  <input type="text" name="search" id="search-field" placeholder="Digite a descrição do quarto...">`;
                    break;
                case 'quantidade_de_hospedes':
                    searchFields.innerHTML = `<label for="search">Busca por Quantidade de Hóspedes:</label>
                                                  <input type="number" name="search" id="search-field" placeholder="Digite a quantidade de hóspedes...">`;
                    break;
            }
        }

        attributeSelect.addEventListener('change', function () {
            const selectedOption = this.value;
            renderSearchFields(selectedOption);
        });

        const initialSelectedOption = attributeSelect.value;
        renderSearchFields(initialSelectedOption);
    });
</script>

