<p style="color: green"><%= notice %></p>

<div id='search-attributes'>
  <%= form_with(url: quartos_path, method: 'get') do |form| %>
    <h3>Procurar quartos</h3>
    Filtrar por
    <%= select_tag(:atributo, options_for_select([
                                                   ['Número', 'numero'],
                                                   ['Tipo', 'tipo'],
                                                   ['Disponibilidade', 'disponibilidade'],
                                                   ['Preço Diária', 'preco_diaria'],
                                                   ['Quantidade de Hóspedes', 'quantidade_de_hospedes']
                                                 ]), id: 'attribute-select') %>
    <span id="search-fields"></span>
    <%= form.submit("Procurar") %>
  <% end %>
  <%= link_to "Redefinir Filtragem", quartos_path %>
</div>

<div id="quartos" class='list'>
  <% if @quartos.present? %>
    <tr class='tr-show'>
      <% @quartos.each do |quarto| %>
        <p class='show-grid'> [ Quarto <%= quarto.numero %> -
          Status: <%= quarto.disponibilidade ? "Disponível" : "Indisponível" %> ] <br>
          Preço da Diária: R$<%= sprintf('%.2f', quarto.preco_diaria) %> <br>
          Tipo: <%= quarto.tipo %> <br>
          Suporta <%= quarto.quantidade_de_hospedes.to_i %> hóspede(s) <br>
          Descrição:
          <% if quarto.descricao == "" %>
            nenhuma descrição fornecida. <br>
          <% else %>
            <%= quarto.descricao %> <br>
          <% end %>
          <%= link_to "Exibir quarto", quarto %> <br>
          <%= link_to "Marcar Reserva", new_reserva_path(quarto_id: quarto) %>
        </p>
      <% end %>
  <% else %>
    Nenhum quarto encontrado.</p>
  <% end %>
  </tr>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const attributeSelect = document.getElementById('attribute-select');
        const searchFields = document.getElementById('search-fields');

        const renderSearchFields = (selectedOption) => {
            const searchFieldLabels = {
                numero: 'Número',
                tipo: 'Tipo',
                disponibilidade: 'Disponibilidade',
                preco_diaria: 'Preço Diária',
                quantidade_de_hospedes: 'Quantidade de Hóspedes'
            };

            searchFields.innerHTML = `
        <label for="search">Busca por ${searchFieldLabels[selectedOption]}:</label>
        ${getSearchField(selectedOption)}
      `;
        };

        const getSearchField = (selectedOption) => {
            switch (selectedOption) {
                case 'numero':
                    return `<input type="text" name="search" id="search-field" placeholder="Digite o número do quarto...">`;
                case 'tipo':
                    return `<%= select_tag(:search, options_for_select([
            ['Quarto Padrão'], ['Quarto Familiar'], ['Quarto de Luxo'], ['Suíte Master'], ['Suíte Presidencial']
          ])) %>`;
                case 'disponibilidade':
                    return `<%= select_tag(:search, options_for_select([
            ['Disponível', true], ['Indisponível', false]
          ])) %>`;
                case 'preco_diaria':
                    return `<input type="number" name="search" id="search-field" placeholder="Preço diária">`;
                case 'quantidade_de_hospedes':
                    return `<input type="number" name="search" id="search-field" placeholder="Digite a quantidade de hóspedes...">`;
                default:
                    return '';
            }
        };

        attributeSelect.addEventListener('change', function () {
            const selectedOption = this.value;
            renderSearchFields(selectedOption);
        });

        const initialSelectedOption = attributeSelect.value;
        renderSearchFields(initialSelectedOption);
    });
</script>
