<p style="color: green"><%= notice %></p>

<%= render @quarto %>

<div>
  <%= link_to "Editar quarto", edit_quarto_path(@quarto) %> |
  <%= link_to "Quartos", quartos_path %>

  <%= button_to "Remover quarto", @quarto, method: :delete %>
</div>

<br>

<%= link_to "Home", root_path %>
