<p style="color: green"><%= notice %></p>

<%= render @quarto %>

<div class='link-show'>
  <%= link_to "Editar quarto", edit_quarto_path(@quarto) %>
  <%= link_to "Voltar para quartos", quartos_path %>
  <%= button_to "Remover quarto", @quarto, method: :delete %>
</div>

<div id='links'>
  <%= link_to "Home", root_path %>
</div>
