<p style="color: green"><%= notice %></p>

<br>

<%= render @quarto %>

<br>

<h1>Histórico de Hospedagem no Quarto <%= @quarto.numero %></h1>

<br>

<h2>Hóspedes Passados:</h2>
<ul>
  <% if @reservas_passadas.present? %>
    <% @reservas_passadas.each do |reserva| %>
      <li>[<%= reserva.cliente.nome %> - <%= reserva.data_de_entrada.strftime("%d/%m/%Y das %H:%M") %>
        à <%= reserva.data_de_saida.strftime("%d/%m/%Y às %H:%M") %>]
        <%= link_to "Exibir Detalhes", reserva.cliente %>
      </li>
    <% end %>

  <% else %>
    Nenhuma reserva marcada para este quarto à priori.
  <% end %>
</ul>

<br>

<h2>Hóspedes Futuros:</h2>
<ul>
  <% if @reservas_futuras.present? %>
    <% @reservas_futuras.each do |reserva| %>
      <li>[<%= reserva.cliente.nome %> - <%= reserva.data_de_entrada.strftime("%d/%m/%Y das %H:%M") %>
        à <%= reserva.data_de_saida.strftime("%d/%m/%Y às %H:%M") %>]
        <%= link_to "Exibir Detalhes", reserva.cliente %>
      </li>
    <% end %>

  <% else %>
    Nenhuma reserva marcada para este quarto à posteriori.
  <% end %>
</ul>

<br>

<div class='link-show'>
  <%= link_to "Editar quarto", edit_quarto_path(@quarto) %>
  <%= button_to "Remover quarto", @quarto, method: :delete %>
</div>